.valign-wrapper__endorcements{
    justify-content: center;
    flex-wrap: wrap;
}

.fencing-ireland-logo, .pentathlon-ireland-logo{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-align-top{
    vertical-align: text-top;
}